body {
	height: auto;
}
#wholepage{
	width: 1100px;
	margin-right: auto;
	margin-left: auto;
}
.nav {
	list-style: none;
	margin: 0;
	padding:0;
	background-color: #ffffff;
	text-align:center;
	border-top: 2px solid #EEEEEE;
	border-bottom: 2px solid #EEEEEE;
}
.sabvure{
	width:20px;
	height:20px;
}
.nav li {
	padding:5px 0;
	margin:0;
	display: inline-block;
	
}
.nav li a {
	text-decoration: none;
	font-family:garamond;
	font-size:300;
	padding: 5px 10px;
	display: block;
	color:#000000;
}
#chimsoro{
	text-align:center;
}
#columnT{
	float:right;
	width:32%;
}
#kahombe{
	float:left;
	width:746px;
}
h2{
	font-size:60px;
	font-weight:bold;
	font-family:garamond;
	margin-bottom:0;
}
.gara{
	margin-top:0;
	margin-bottom:40px;
	padding:0;
	font-size:18px;
	color:#000000;
}
.mutsetse{
	font-size:18px;
	color:#000000;
	margin-top:0;
	margin-bottom:0;  
}
.mutsetse{
	font-size:15px;
	color:#000000;
	font-style:italic;
	margin-top:0;
}
#pakuru{
	overflow:hidden;
}
h3{
	font-size:34px;
	font-weight:bold;
	font-family:garamond;
	padding-bottom:0;
	margin-bottom:0;
	margin-top:50px;
}
#zim{
	float:right;
	margin:0;
}

.footer1 {
	list-style: none;
	margin: 0;
	padding:0;
	background-color: #ffffff;
	text-align: center;
	border-top:2px solid #EEEEEE;
	border-bottom: 1px solid #eeeeee;
	margin-top:20px;
}
.footer1 li {
	padding:5px 0;
	margin:0;
    display: inline-block;
}
.footer1 li a {
	color: #000000;
	text-decoration: none;
	font-family:'open sans';
	font-size:300;
	padding: 5px 10px;
	display: block;
}
.pusu{
	width:740px;
	border:2px solid #EEEEEE;
	padding:4px;

}
#kwese{
	position:relative;
}

#kwese:hover::before{
    content:"";
    position:absolute;
	background-color: rgba(255,255,255,0.8);
	top:0;
	bottom:0;
	left:0;
	right:0;
}
#kwese:hover::after{
	content: '+';
	background: #000000;
	position: absolute;
	font-size:70px;
    top:125px;
    text-align:center;
    color:#ffffff;
    bottom: 300px;
    left: 350px;
    right:275px;
    width: 70px;
    height:70px;
    border-radius: 300px;
    opacity: 0.5;
    line-height:-40px;
}
.tsek{
	width:236px;
	height:90px;
	border:2px solid #EEEEEE;
	padding:4px;
	box-sizing: border-box;
}
.mandebvu{
	border:2px solid #EEEEEE;
	padding:4px;
	width:128px;
	height:132px;
}
.zita{
	font-size:12px;
	font-style:italic;
	margin-top:0;
}
.waba{
	border:2px solid #EEEEEE;
	padding:4px;
	width:120px;
	height:125px;
	float: left;
	margin-right:10px;
	margin-top: 10px;
}
.listup{
	list-style: none;
}
.listup .buk::before{
	content: "1.";
	font-size: 34px;
	float:left;
	margin-right:10px;
}
.listup .bok::before{
	content: "2.";
	font-size: 34px;
	float:left;
	margin-right:10px;
}
.listup .bik::before{
	content: "3.";
	font-size: 34px;
	float:left;
	margin-right:10px;
}
.listup .bek::before{
	content: "4.";
	font-size: 34px;
	float:left;
	margin-right:10px;
}
.listup .bak::before{
	content: "5.";
	font-size: 34px;
	float:left;
	margin-right:10px;
}
.listduze .yist::before{
	content: "1.";
	font-size: 34px;
	float:left;
	margin-right:10px;
}
.listduze{
	list-style: none;
	counter-reset: bbbb;
}
.listduze li::before{
	counter-increment: bbbb;
    content: counter(bbbb) ". ";
    font-size: 34px;
	float:left;
	margin-right:10px;
}
.listup a{
	text-decoration:none;
	color:#000000;
	font-weight:bold;
	counter-reset:sub;
}
.listduze a{
	text-decoration:none;
	color:#000000;
	font-weight:bold;
}
#yakadero a{
	text-decoration:none;
	color:#000000;
	font-weight:bold;
	font-size:18px;
}
#yakadero li{
	width:33.33%;
	float:left;
	height:200px;
}
#yakadero{
	list-style:none;
	padding-left:0;
	margin:0 -12px;
}
.footer{
	color:#8d8d8d;
	font-size:9px;
	text-align: center;
	font-family:garamond;
}
.time{
	color:#8d8d8d;
	font-size:14px;
	padding-left:35px;
	margin:0;
}
.time1{
	color:#8d8d8d;
	font-size:14px;
	margin:0;
}
h4{
	font-size:34px;
	font-weight:bold;
	font-family:garamond;
	border-bottom: 2px solid #EEEEEE;
}
.hahaC{
	width:20px;
	height:20px;
	margin-right: 10px;
	margin-top:0;
}
.hahaB{
	width:20px;
	height:20px;
	margin-right: 10px;
	margin-top:0;
}
.hahaA{
	width:20px;
	height:20px;
	margin-top:0;
}
p{
	font-family:garamond;
	color:#8d8d8d;
	font-size:30px;
}
.huku{
	color:#000000;
	text-decoration: none;
	font-weight:bold;
}
.eke{
	font-size:20px;
	margin-bottom:0;
	padding-bottom:10px;
}
#shaq{
	border-top:2px solid #EEEEEE;
	border-bottom: 3px solid #eeeeee;
	margin-bottom: 20px;
	padding-bottom: 50px;
	padding-top: 30px;
}
.baba{
	font-size:17px;
	list-style:none;
}
.ory{
	margin-bottom:5px;
	margin-top:0;
	font-size:15px;
}
.chiba{
	width: 100%;
	margin:12px;
	

}